/* CSS Document */

body{
    font-family: 'Lato' !important;
/*    padding: 3rem;*/
    background: linear-gradient(to right,rgb(4, 113, 255),rgb(109, 8, 177)) !important;
	box-sizing: border-box !important;
    color: white;
}
.apRadioBtn{
/*    visibility: di;*/
    display: none!important;
}
 .apRadioBtn:checked + .apBtn{
    background: darkgreen !important;
     
/*     visibility: hidden;*/
}
.filter{
    margin-bottom: 1rem;

}
.profile{
			width: 7rem;
			height: 7rem;
			margin-right: 1rem;
			border-radius: 50%;
/*    display: inline-block;*/
		}

.docinfo{
    padding: 1.5rem;
}
.docinfo:hover{
/*			background-color: grey;*/
           
background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
backdrop-filter: blur( 13.5px );
-webkit-backdrop-filter: blur( 13.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
		}
		.slotDisplay{
			clear: both;
		}
/****  floating-Lable style start ****/
.floating-label { 
  position:relative; 
  margin-bottom:20px;
    display: inline-block;
    
}
.floating-input , .floating-select {
  font-size:14px;
  padding:4px 4px;
  display:inline-block;
  width:100%;
    color: white;
  height:30px;
  background-color: transparent;
  border:none;
  border-bottom:1px solid #fff;
}

.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #f0f0f0; 
}

.form-label {
  color:#f1f1f1; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-input:focus ~ .form-label, .floating-input:not(:placeholder-shown) ~ .form-label {
  top:-18px;
  font-size:14px;
  color:#f0f0f0;
}

.floating-select:focus ~ .form-label , .floating-select:not([value=""]):valid ~ .form-label {
  top:-18px;
  font-size:14px;
  color:#f0f0f0;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
   min-height: 30px;
   max-height: 260px; 
   overflow:hidden;
  overflow-x: hidden; 
}

/* highlighter */
.highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#f0f0f0; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#f0f0f0; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#f0f0f0; }
  to 	{ width:0; background:transparent; }
}

/****  floating-Lable style end ****/
table {
  width: 95%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background: rgba(50, 50, 50, 0.45);
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
